AuctionClient/Auction/Connected Services/Server/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuctionServer.Auctions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuctionServer.Auctions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuctionServer" />
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfAuctionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuctionInfo" nillable="true" type="tns:AuctionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuctionInfo" nillable="true" type="tns:ArrayOfAuctionInfo" />
  <xs:complexType name="AuctionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPrice" type="xs:double" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q1:ObjectId" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuctionServer" minOccurs="0" name="Lot" nillable="true" type="q2:Lot" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Players" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="StartPrice" type="xs:double" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuctionInfo" nillable="true" type="tns:AuctionInfo" />
</xs:schema>